.NavBar-container{
    margin:0% auto;
    /* border-style: solid; */
    width:100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.NavBar-link{
    margin: 1%;
}
.LandingPage-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.Buttons-container{
    margin: auto;
    text-align: center;
    display:flex;
    justify-content: space-around;
    border-style: solid;
}

Button{
    width: 12%;
    height:10%;
    font-size: 24px;
}

.Title-container{
    margin: 10% auto;
    text-align: center;
    font-size: 80px;
}