.Passage-container {
  flex-grow: 5;
  background-color: var(--paleCerulean);
  font-size: 40px;
  font-family: "Times New Roman";
  margin: var(--l) var(--xs);
  border-radius: var(--m);
  padding: var(--s);
}
