.GameInputField-container {
  flex-grow: 1;
  background-color: var(--paleCerulean);
  margin: var(--l) var(--xs);
  border-radius: var(--m);
  padding: var(--s);
}

.GameInputField-textbox,
.GameInputField-button {
  font-family: "Open Sans";
  font-size: 14px;
  padding: var(--s) var(--m);
}

.GameInputField-textbox {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.GameInputField-textbox:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.GameInputField-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
  cursor: default;
}

.enabled:hover {
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
}

.GameInputField {
  
  &.primary {
    border-radius: 50px; // NOTE: this should be more a percentage of the height than a specific value
    outline: none;
  }
  
  &.ready {
    @keyframes floating {
      0% {
        top: 0px;
        box-shadow: 0px 5px 3px #1c1c1c;
      }
      50% {
        top: -3px;
        box-shadow: 0px 7px 4px #1c1c1c;
      }
      100% {
        top: 0px;
        box-shadow: 0px 5px 3px #1c1c1c;
      }
    }

    position: relative;
    background-color: #00fa50;
    color: #474747;
    cursor: pointer;
    box-shadow: 0 5px 3px #1c1c1c;
    animation: floating 1.25s infinite;

    &:hover {
      box-shadow: 0 4px 2px #1c1c1c;
      animation: none;
      transition: 0.1s;
    }

    &:active {
      box-shadow: 0 2px 2px #1c1c1c;
      animation: none;
    }

    &.clicked {
      box-shadow: 0 2px 2px #1c1c1c;
      animation: none;
      background-color: #00db46;
    }
  }

  &.input {
    width: 75%;
    border-radius: 50px;
    height: 30px;
    padding: 0px 10px;
    border: none;
    background-color: white;
    transition: 0.3s;

    &:disabled {
      background-color: lightgray;
    }
  }
}