.Profile-container {
  height: 100vh;
  display: flex;
  border-style: solid;
  /* flex-direction: row; */
}

.ProfileSection-container {
  height: 100%;
  width: 30%;
  border-style: solid;
  margin: auto;
}

.StatisticsSection-container {
  height: 100%;
  width: 65%;
  border-style: solid;
  margin: auto;
}
.ProfilePicture-container {
  margin: 30% auto auto auto;
  width: 80%;
}
.ProfilePicture-avatar {
  background-image: url("../../../assets/blankpfp.png");
  /* make it responsive */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;

  /* div height to be the same as width*/
  padding-top: 100%;

  /* make it a circle */
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;

  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;

  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.AboutMe-container {
  text-align: center;
  margin: 5% auto;
  font-weight: bold;
}
.AboutMeDescription-container {
  text-align: center;
}
