.ProfilePage-container{
    height: 100vh;
    display:flex;
    border-style:solid;
    /* flex-direction: row; */
    
}

.ProfileSection-container{
    height: 100%;
    width: 30%;
    border-style: solid;
    margin:auto;
}

.StatisticsSection-container{
    height: 100%;
    width: 65%;
    border-style: solid;
    margin: auto;
}
