.Chat-container {
  flex-grow: 1;
  background-color: var(--mistyRose);
  margin: var(--l) var(--xs);
  border-radius: var(--m);
  padding: var(--s);
}

.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
}
