@use "utilities" as u;

.NavBar {
  &.container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;

    padding: 15px 30px;
    box-sizing: border-box;
    background-color: transparent;
    justify-content: space-between;
  }

  & .link {
    font-size: 20pt;
    display: block;
    color: u.$gray;
    text-decoration: none;
    font-size: gray;
    cursor: pointer;

    &:hover {
      color: u.$offwhite;
    }
  }

  & .ProfileButton {
    & > #toggler {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      
      border-radius: 50%;
      background-image: url("../assets/blankpfp.png");
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
    }

    #profileButtonArrow {
      position: relative;
      top: 17px;
      left: 45px;
      width: 0px;
      height: 0px;
      border-top: 6px solid white;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }

    & .dropdown {
      display: none;
      position: absolute;
      width: 100px;

      margin-left: -60px;
      z-index: 3;

      & .item {
        display: block;
        position: relative;
        padding: 6px 16px;
        margin: 4px 0px;
        color: white;
        opacity: 0;
        background-color: u.$darkposy;
        border-radius: 28px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        text-align: center;
        font-size: 16pt;
        transition: 0.2s;

        &:hover {
          background-color: u.$darkgray;
        }
      }

      &.show {
        display: block;

        & > * {
          animation: fadeIn 0.5s ease forwards;

          &#secondDropdownItem {
            animation-delay: 0.2s;
          }

          &#thirdDropdownItem {
            animation-delay: 0.4s;
          }
        }
      }
    }
  }
}

.HelpButton {
  &.container {
    $size: 60px;
    display: inline-block;
    position: absolute;
    right: $size / 2;
    bottom: $size / 2;
    width: $size;
    height: $size;

    &.position2 {
      bottom: 80px;
    }
  }

  button {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: u.$gray;
    font-size: 20pt;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: u.$offwhite;
      transform: scale(1.1);
    }

    &:active {
      color: white;
    }
  }

  .tint {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding: 75px 75px 120px;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: 9999;

    &.show {
      display: block;
      animation: fadeIn 0.5s ease forwards;
    }
  }

  .instructions {
    position: block;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: u.$gray;
    overflow-y: scroll;
  }

  .closeText {
    text-align: center;
    line-height: 40px;
    color: white;
  }
}

.StoryGallery {
  display: flex;
  align-items: start;

  padding: 0px 50px;
  @media only screen and (max-device-width : 640px) {
    padding: 0px;
  }
  
  .GalleryColumn {
    flex-basis: 0px;
    width: 0px;
    flex-grow: 1;
    border-radius: 10px;
    background-color: blue;

    .StoryCard {
      &.container {
        opacity: 0;
        margin: 2vw;
        background-color: green;
        overflow-wrap: break-word;
      }
        
      &.show {
        animation: fadeIn 0.5s ease-in forwards;
      }
    }
  }

}