.GalleryTitle-container {
  line-height: 90vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(127, 158, 210, 1) 84%,
    rgba(255, 255, 255, 1) 100%,
    rgba(226, 255, 254, 1) 100%
  );
}

.Gallery-title {
  color: white;
  margin: auto;
  /* width: 100%; */
  /* text-align: center; */
  vertical-align: middle;
  display: inline-block;
  font-size: 80px;
  /* border-style: solid; */
}

.Gallery-container {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  /* align-content: space-around; */
  height: 12000px;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: row; */
  /* border-style: solid; */
  /* flex-wrap: wrap; */
  /* height: 3500px; */
  justify-content: flex-start;
  /* justify-content: safe; */
  /* flex-basis: 2000px; */
  /* flex-grow: unset; */
  /* flex-grow: 80; */
}

.Gallery-container::before,
.Gallery-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.SingleStoryCard-container:nth-child(3n + 1) {
  order: 1;
}
.SingleStoryCard-container:nth-child(3n + 2) {
  order: 2;
}
.SingleStoryCard-container:nth-child(3n) {
  order: 3;
}

/* Single Story Styling */
.SingleStoryCard-container {
  border-style: solid;
  margin: 2%;
  min-width: 20%;
  max-width: 25%;
  text-align: left;
  /* height: fit-content; */
  /* block-size: fit-content; */
  /* max-height: 20%; */
  padding: 0.5%;
  /* flex-grow: 1; */

  /* display: inline; */
  /* display: table; */
}

.SingleStoryCard-StoryTitle {
  font-weight: bold;
  font-size: 32px;
}
.SingleStoryCard-Contributors {
  font-style: italic;
  margin: auto 10px;
}

.SingleStoryCard-Content {
  margin: auto 10px;
}
/* 
.SingleStoryCard-usersThatLiked {
}

.SingleStoryCard-Keywords {
} */
.StoryInteractionBar-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.LikeButton-container {
  font-size: 16px;
}
.NewComment-container {
  margin: auto 3%;
  width: fill;
  flex-grow: 100;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* border-style: solid; */
}

.comments-container {
  width: fill;
  flex-grow: 100;
  display: relative;
  /* border-style: solid; */
  /* padding: auto; */
}
.CommentButton-container {
  font-size: 16px;
  margin: auto;
  /* text-align: center; */
  /* width: fill; */
  /* flex-grow: 100; */
  display: relative;
  text-align: left;
  margin: 0 2%;
}
.NewCommentButton-container {
  font-size: 16px;
  width: fill;
  flex-grow: 100;
  margin: 0;
}
.CommentsBlock-container {
  width: fill;
  flex-grow: 100;
  border-top: solid;
  border-width: 1px;
  margin: 3% auto 0 auto;
}

/*Animations*/

.fade-in2 {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
/* The style below is just for the appearance of the example div */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: 0.05em; Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.boxArrow {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxArrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite linear;
}
.boxArrow:hover > span {
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  cursor: pointer;
}
.boxArrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.boxArrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
