.LeaderBoard {
  height: 100vh;
  background: rgb(238, 205, 163);
  background: linear-gradient(360deg, rgba(238, 205, 163, 1) 0%, #e08aaf 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .title {
    // border-style: solid;
    margin-top: 2%;
    color: white;
    width: 100vw;
    text-align: center;
    font-size: 88px;
    padding: 0 auto;
  }
  .Component {
    font-size: 16px;
    width: 90%;
    max-height: 80%;
    border-style: solid;
    border-radius: 1.5%;
    border-width: 1px;
    margin: auto;
  }
  table {
    background: rgb(255, 229, 219);
    .EntryRow {
      font-size: 16px;
    }
    td,
    th {
      text-align: left;
      padding: 0 100px 0 0;
      // margin: 0;
      white-space: nowrap;
    }
    .lastColumn {
      width: fill;
      width: 99%;
    }

    tr.borderbottom td {
      border-bottom: 1px solid black;
    }
  }

  // table {
  //   border-spacing: 50px 0;
  // }
  .active {
    background: rgb(255, 135, 135);
  }
}
