@use "utilities" as u;

.Profile {
  &.container {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: u.$darkposy;
    padding-top: 30px;
    color: white;
    background-image: radial-gradient(
      circle 983px at 13.6% 54.5%,
      rgba(247, 110, 110, 0.5) 0%,
      rgba(246, 143, 88, 1) 90%
    );
  }

  .ProfileSection {
    &.container {
      margin: 20px;
      background-color: u.$darkposy;
      flex-grow: 0;
      flex-shrink: 0;
      // border: solid;
      height: 80%;
      width: 30%;
      border-radius: 20px;
    }

    .ProfilePicture {
      &.container {
        // border: solid;
        margin: 20% auto auto auto;
        width: 30%;
      }

      &.avatar {
        background-image: url("../../src/assets/blankpfp.png");
        // max-width: 100%; NOTE
        // max-height: 100%;
        width: 100%;
        height: auto;
        padding-top: 100%;

        /* make it a circle */
        border-radius: 50%;

        /* Centering on image`s center*/
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

        /* it makes the clue thing, takes smaller dimension to fill div */
        background-size: cover;

        /* it is optional, for making this div centered in parent*/
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .AboutMe {
      &.container {
        font-weight: bold;
        font-size: 20px;
        padding: 16px;
        font-family: monospace;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0.15em; /* Adjust as needed */
        overflow: auto;
      }
    }
    .AboutMeDescription {
      &.container {
        display: block;
        position: relative;
        top: 10%;
        font-size: 32px;
        font-weight: bold;
        padding: 10px;
      }

      .BioInputField {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 80%;
        padding: 20px;
        margin: auto;
        box-sizing: border-box;
      }

      .BioButton {
        display: block;
        width: 200px;
        padding: 20px;
        margin: auto;
        background-color: u.$peach;
        border-radius: 20px;
        font-size: 14pt;
        transition: 0.25s;
        cursor: pointer;
        margin-top: 20px;
      }
    }
  }

  .StatisticsSection {
    &.container {
      background-color: u.$darkink;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 80%;
      border: solid;
      border-radius: 20px;
      overflow-y: scroll;
    }
    .BasicStats {
      &.container {
        // border: solid;
        font-size: 20px;
      }
    }
    .Keyword {
      &.container {
        padding-left: 20px;
        margin-top: 50px;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        // border: solid;
      }
      .KeywordText {
        flex-grow: 1;
        text-align: center;
        margin: 20px;
        border-radius: 15px;
        padding: 20px;
        border: solid;
        justify-content: center;
      }
    }

    .Stories {
      .ProfileStories-Container {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        height: 8000px;
        max-width: 100%;
        border-style: white;
        // background: green;
        overflow-x: hidden;
        margin: auto;
      }
      .ProfileStories-Container::before,
      .ProfileStories-Container::after {
        content: "";
        flex-basis: 100%;
        width: 0;
        order: 2;
      }

      &.container {
        // border: solid;
        border-radius: 20px;
        padding: 30px;
        margin: 25px;
        // background-color: white;
      }
    }
  }
}
