@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.NavBar.container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 15px 30px;
  box-sizing: border-box;
  background-color: transparent;
  justify-content: space-between;
}
.NavBar .link {
  font-size: 20pt;
  display: block;
  color: #969696;
  text-decoration: none;
  font-size: gray;
  cursor: pointer;
}
.NavBar .link:hover {
  color: #d9d9d9;
}
.NavBar .ProfileButton > #toggler {
  width: 40px;
  height: 40px;
  padding: 20px;
  border-radius: 50%;
  background-image: url("../assets/blankpfp.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.NavBar .ProfileButton .dropdown {
  display: none;
  position: absolute;
  width: 100px;
  margin-left: -60px;
  z-index: 3;
}
.NavBar .ProfileButton .dropdown .item {
  display: block;
  position: relative;
  padding: 6px 16px;
  margin: 4px 0px;
  color: white;
  opacity: 0;
  background-color: #803770;
  border-radius: 28px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  font-size: 16pt;
  transition: 0.2s;
}
.NavBar .ProfileButton .dropdown .item:hover {
  background-color: #696969;
}
.NavBar .ProfileButton .dropdown.show {
  display: block;
}
.NavBar .ProfileButton .dropdown.show > * {
  animation: fadeIn 0.5s ease forwards;
}
.NavBar .ProfileButton .dropdown.show > *#secondDropdownItem {
  animation-delay: 0.2s;
}
.NavBar .ProfileButton .dropdown.show > *#thirdDropdownItem {
  animation-delay: 0.4s;
}

.HelpButton.container {
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
}
.HelpButton.container.position2 {
  bottom: 80px;
}
.HelpButton button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #969696;
  font-size: 20pt;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}
.HelpButton button:hover {
  background-color: #d9d9d9;
  transform: scale(1.1);
}
.HelpButton button:active {
  color: white;
}
.HelpButton .tint {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 75px 75px 120px;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 9999;
}
.HelpButton .tint.show {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}
.HelpButton .instructions {
  position: block;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #969696;
  overflow-y: scroll;
}
.HelpButton .closeText {
  text-align: center;
  line-height: 40px;
  color: white;
}

.Main.container {
  height: 100%;
  text-align: center;
  color: #e4a292;
}
.Main .backgroundImg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../assets/campfire.gif");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}
.Main .backgroundColor {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #803770;
  opacity: 0.3;
  z-index: -1;
}
.Main .title {
  padding-top: 16vh;
  font-size: 100pt;
  font-family: monospace;
  letter-spacing: 10px;
}
.Main .subtitle {
  padding: 0px 100px;
  margin: 20px auto 100px;
  font-size: 15pt;
}
.Main .buttonsContainer {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-between;
}
.Main .gameButton {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #969696;
  border-radius: 20px;
  font-size: 14pt;
  transition: 0.25s;
  cursor: pointer;
}
.Main .gameButton:hover {
  background-color: #696969;
}
.Main .gameButton.input {
  width: 177px;
  height: 38px;
  padding: 0px 10px;
  margin-top: 10px;
  font-size: 12pt;
}
.Main .gameButton.input#codeButton {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .Help-container {
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin: auto;
} */
.GameRoom.container {
  display: flex;
  flex-direction: row;
  min-height: 650px;
  height: 100vh;
  color: black;
}
.GameRoom .Sidebar.container {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: #994287;
  padding: 5px 10px 10px 10px;
}
.GameRoom .Sidebar .heading {
  display: inline;
  line-height: 0px;
  font-weight: bold;
}
.GameRoom .Sidebar .PlayerDisplay.container {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 2px solid black;
  vertical-align: center;
}
.GameRoom .Sidebar .PlayerDisplay .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.GameRoom .Sidebar .PlayerDisplay .header img {
  margin: 0px 3px 0px 10px;
}
.GameRoom .Sidebar .PlayerDisplay .PlayerRow {
  display: flex;
  align-items: center;
  margin: 2px 0px;
  padding: 2px 8px;
  color: #d9d9d9;
}
.GameRoom .Sidebar .PlayerDisplay .PlayerRow .name {
  flex-basis: 70%;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 11pt;
}
.GameRoom .Sidebar .PlayerDisplay .PlayerRow.me {
  color: #032540;
}
.GameRoom .Sidebar .PlayerDisplay .PlayerRow.disconnected {
  color: #969696;
}
.GameRoom .Sidebar .PlayerDisplay .PlayerRow .health {
  flex-grow: 1;
  height: 12px;
  padding: 0px 5px;
  font-size: 8pt;
  line-height: 16pt;
  border-radius: 10px;
  background: linear-gradient(to right, lightgreen);
}
.GameRoom .Sidebar .Chat.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  height: 300px;
  margin-top: 5px;
}
.GameRoom .Sidebar .Chat .messagesContainer {
  flex-grow: 1;
  width: 100%;
  padding: 8px 10px 4px 10px;
  margin: 0;
  box-sizing: border-box;
  background-color: #803770;
  overflow-y: scroll;
}
.GameRoom .Sidebar .Chat .SingleMessage {
  color: #d9d9d9;
  overflow-wrap: break-word;
  margin-bottom: 4px;
  font-size: 10pt;
}
.GameRoom .Sidebar .Chat .SingleMessage .sender {
  color: #969696;
  font-weight: bold;
}
.GameRoom .Sidebar .Chat .ChatInputField {
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin: 0px 0px 3px 0px;
  border-radius: 0px 0px 6px 6px;
}
.GameRoom .GameDisplay.container {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  background-color: #062f4f;
}
.GameRoom .GameDisplay > * {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
}
.GameRoom .GameDisplay .StoryText.container {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: scroll;
  background-color: #032540;
  color: #d9d9d9;
  box-shadow: 0px 4px 8px #035a9e;
}
.GameRoom .GameDisplay .StoryText span {
  overflow-wrap: break-word;
}
.GameRoom .GameDisplay .StoryText .story {
  color: #969696;
}
.GameRoom .GameDisplay .EndGameComponent.container {
  flex-basis: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  border-style: solid;
  overflow-y: scroll;
  border-color: black;
  background-color: white;
  box-shadow: 0px 4px 8px #035a9e;
}
.GameRoom .GameDisplay .EndGameComponent.container .Title {
  font-weight: bold;
  font-size: 32px;
}
.GameRoom .GameDisplay .EndGameComponent.container .Contributors {
  font-style: italic;
}
.GameRoom .GameDisplay .Gathering.container {
  flex-grow: 1;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-image: url("../assets/campfire2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}
.GameRoom .GameDisplay .Gathering .GatheringPlayer.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  min-width: 95px;
  border-radius: 5px;
}
.GameRoom .GameDisplay .Gathering .GatheringPlayer #gpIndicator {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid white;
  animation: bobbing 1s infinite;
}
@keyframes bobbing {
  0% {
    top: -10px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: -10px;
  }
}
.GameRoom .GameDisplay .Gathering .GatheringPlayer .gpHealth {
  padding: 5px 30px;
  background-color: gray;
  border-radius: 5px;
}
.GameRoom .GameDisplay .Gathering .GatheringPlayer .gpGraphic {
  padding: 30px;
  background-color: #696969;
  background-image: url("../assets/blankpfp.png");
  border-radius: 50%;
  background-size: contain;
  z-index: 10;
}
.GameRoom .GameDisplay .Gathering .GatheringPlayer .gpName {
  padding: 0px 4px;
  font-size: 10pt;
  color: #e4a292;
}
.GameRoom .GameDisplay .Gathering #potato {
  display: none;
  padding: 25px;
  background-image: url("../assets/potato.png");
  background-size: contain;
  left: 50%;
  top: 50%;
  transition: 0s;
}
.GameRoom .GameDisplay .Gathering #potato.show {
  display: inline-block;
  z-index: 999;
}
.GameRoom .GameDisplay .GameInputField.primary {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
  width: 90%;
  border-radius: 20px;
  outline: none;
}
.GameRoom .GameDisplay .GameInputField.ready {
  position: relative;
  padding: 0px;
  font-size: 13pt;
  background-color: #00fa50;
  color: #474747;
  cursor: pointer;
  box-shadow: 0 5px 3px #1c1c1c;
  animation: floating 1.25s infinite;
}
@keyframes floating {
  0% {
    top: 0px;
    box-shadow: 0px 5px 3px #1c1c1c;
  }
  50% {
    top: -3px;
    box-shadow: 0px 7px 4px #1c1c1c;
  }
  100% {
    top: 0px;
    box-shadow: 0px 5px 3px #1c1c1c;
  }
}
.GameRoom .GameDisplay .GameInputField.ready:active {
  box-shadow: 0 2px 2px #1c1c1c;
  animation: none;
}
.GameRoom .GameDisplay .GameInputField.ready.clicked {
  box-shadow: 0 2px 2px #1c1c1c;
  animation: none;
  background-color: #06c443;
}
.GameRoom .GameDisplay .GameInputField.input {
  padding: 0px 10px;
  width: 90%;
  line-height: 10px;
  border: none;
  border-radius: 50px;
  background-color: white;
  font-size: 10pt;
  transition: 0.3s;
}
.GameRoom .GameDisplay .GameInputField.input:disabled {
  background-color: lightgray;
}

.Profile.container {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: #803770;
  padding-top: 30px;
  color: white;
  background-image: radial-gradient(circle 983px at 13.6% 54.5%, rgba(247, 110, 110, 0.5) 0%, #f68f58 90%);
}
.Profile .ProfileSection.container {
  margin: 20px;
  background-color: #803770;
  flex-grow: 0;
  flex-shrink: 0;
  height: 80%;
  width: 30%;
  border-radius: 20px;
}
.Profile .ProfileSection .ProfilePicture.container {
  margin: 20% auto auto auto;
  width: 30%;
}
.Profile .ProfileSection .ProfilePicture.avatar {
  background-image: url("../../src/assets/blankpfp.png");
  width: 100%;
  height: auto;
  padding-top: 100%;
  /* make it a circle */
  border-radius: 50%;
  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  /* it makes the clue thing, takes smaller dimension to fill div */
  background-size: cover;
  /* it is optional, for making this div centered in parent*/
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.Profile .ProfileSection .AboutMe.container {
  font-weight: bold;
  font-size: 20px;
  padding: 16px;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  overflow: auto;
}
.Profile .ProfileSection .AboutMeDescription.container {
  display: inline;
  text-decoration: underline;
}
.Profile .StatisticsSection.container {
  background-color: #032540;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 80%;
  border: solid;
  border-radius: 20px;
  overflow-y: scroll;
}
.Profile .StatisticsSection .BasicStats.container {
  font-size: 20px;
}
.Profile .StatisticsSection .Keyword.container {
  padding-left: 20px;
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.Profile .StatisticsSection .Keyword .KeywordText {
  flex-grow: 1;
  text-align: center;
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
  border: solid;
  justify-content: center;
}
.Profile .StatisticsSection .Stories.container {
  border-radius: 20px;
  padding: 30px;
  margin: 25px;
}

.GalleryTitle-container {
  line-height: 90vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #020024;
  background: linear-gradient(180deg, #020024 0%, #7f9ed2 84%, white 100%, #e2fffe 100%);
}

.Gallery-title {
  color: white;
  margin: auto;
  /* width: 100%; */
  /* text-align: center; */
  vertical-align: middle;
  display: inline-block;
  font-size: 80px;
  /* border-style: solid; */
}

.Gallery-container {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  /* align-content: space-around; */
  height: 12000px;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: row; */
  /* border-style: solid; */
  /* flex-wrap: wrap; */
  /* height: 3500px; */
  justify-content: flex-start;
  /* justify-content: safe; */
  /* flex-basis: 2000px; */
  /* flex-grow: unset; */
  /* flex-grow: 80; */
}

.Gallery-container::before,
.Gallery-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.SingleStoryCard-container:nth-child(3n+1) {
  order: 1;
}

.SingleStoryCard-container:nth-child(3n+2) {
  order: 2;
}

.SingleStoryCard-container:nth-child(3n) {
  order: 3;
}

/* Single Story Styling */
.SingleStoryCard-container {
  border-style: solid;
  margin: 2%;
  min-width: 20%;
  max-width: 25%;
  text-align: left;
  border-radius: 3%;
  /* height: fit-content; */
  /* block-size: fit-content; */
  /* max-height: 20%; */
  padding: 0.5%;
  /* flex-grow: 1; */
  /* display: inline; */
  /* display: table; */
}

.SingleStoryCard-StoryTitle {
  font-weight: bold;
  font-size: 32px;
}

.SingleStoryCard-Contributors {
  font-style: italic;
  margin: auto 10px;
}

.SingleStoryCard-Content {
  margin: auto 10px;
}

/* 
.SingleStoryCard-usersThatLiked {
}

.SingleStoryCard-Keywords {
} */
.StoryInteractionBar-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.LikeButton-container {
  font-size: 16px;
}

.NewComment-container {
  margin: auto 3%;
  width: fill;
  flex-grow: 100;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* border-style: solid; */
}

.comments-container {
  width: fill;
  flex-grow: 100;
  display: relative;
  /* border-style: solid; */
  /* padding: auto; */
}

.CommentButton-container {
  font-size: 16px;
  margin: auto;
  /* text-align: center; */
  /* width: fill; */
  /* flex-grow: 100; */
  display: relative;
  text-align: left;
  margin: 0 2%;
}

.NewCommentButton-container {
  font-size: 16px;
  width: fill;
  flex-grow: 100;
  margin: 0;
}

.CommentsBlock-container {
  width: fill;
  flex-grow: 100;
  border-top: solid;
  border-width: 1px;
  margin: 3% auto 0 auto;
}

/*Animations*/
.fade-in2 {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

/* The style below is just for the appearance of the example div */
.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: 0.05em; Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.boxArrow {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxArrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite linear;
}

.boxArrow:hover > span {
  border-bottom: 7px solid black;
  border-right: 7px solid black;
  cursor: pointer;
}

.boxArrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.boxArrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.LeaderBoard {
  height: 100vh;
  background: #eecda3;
  background: linear-gradient(360deg, #eecda3 0%, #e08aaf 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.LeaderBoard .title {
  margin-top: 2%;
  color: white;
  width: 100vw;
  text-align: center;
  font-size: 88px;
  padding: 0 auto;
}
.LeaderBoard .Component {
  font-size: 16px;
  width: 90%;
  max-height: 80%;
  border-style: solid;
  border-radius: 1.5%;
  border-width: 1px;
  margin: auto;
}
.LeaderBoard table {
  background: #ffe5db;
  max-height: 80%;
  overflow: scroll;
}
.LeaderBoard table .EntryRow {
  font-size: 16px;
}
.LeaderBoard table td,
.LeaderBoard table th {
  text-align: left;
  padding: 0 100px 0 0;
  white-space: nowrap;
}
.LeaderBoard table .lastColumn {
  width: fill;
  width: 99%;
}
.LeaderBoard table tr.borderbottom td {
  border-bottom: 1px solid black;
}
.LeaderBoard .active {
  background: #ff8787;
}

/*
"I will search all of your repos for the word dangerous" ~Noah Raby (staff)
"Or UNSAFE" ~Shannen Wu (staff)
4:40 PM ET, January 13, 2021

dangerous
UNSAFE
dangerous
UNSAFE
dangerous
UNSAFE
dangerous
UNSAFE

jk jk love you guys <33

*/

/*# sourceMappingURL=output.css.map */
