@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$ink: #062f4f;
$darkink: #032540;
$posy: #994287;
$darkposy: #803770;
$embers: #b82601;
$offwhite: #d9d9d9;
$gray: #969696;
$darkgray: #696969;
$peach: #e4a292;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin flex-fixed-size($measurement) {
  flex-basis: $measurement;
  flex-grow: 0;
  flex-shrink: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
