.NavBar-container {
  margin: 0% auto;
  /* border-style: solid; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
.NavBar-link {
  margin: 1%;
}
.Landing-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.Buttons-container {
  margin: auto auto 18% auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* border-style: solid; */
  width: 50%;
  height: 40%;
}

Button {
  /* width: 120px; */
  /* height:10%; */
  font-size: 24px;
  border-radius: 8px;
}

.Title-container {
  margin: 10% auto 2.5% auto;
  text-align: center;
  font-size: 160px;
}
.Space {
  height: 1%;
}

.u-small-radius {
  border-radius: 16px;
}
.Help-container {
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin: auto;
}

.Dropbutton {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.Dropbutton:hover,
.Dropbutton:focus {
  background-color: #2980b9;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Dropdown-content .Dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Dropdown .Dropdown-item:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#codeButton {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.Gallery-title {
  margin: 0%, auto;
  width: 100%;
  text-align: center;
  font-size: 64px;
  /* border-style: solid; */
}

.Gallery-container {
  width: 100vw;

  /* text-align: center; */
  display: flex;
  flex-direction: row;
  border-style: solid;
  flex-wrap: wrap;
  /* height: 3500px; */
  justify-content: space-around;
  /* justify-content: safe; */
  /* flex-basis: 2000px; */
  flex-grow: unset;
  /* flex-grow: 80; */
}
/* Single Story Styling*/
.SingleStoryCard-container {
  border-style: solid;
  margin: 2%;
  min-width: 20%;
  max-width: 40%;
  text-align: left;
  max-height: 20%;
  padding: 0.5%;
  flex-grow: 1;

  /* display: inline; */
}

.SingleStoryCard-StoryTitle {
  font-weight: bold;
  font-size: 32px;
}
.SingleStoryCard-Contributors {
  font-style: italic;
  margin: auto 10px;
}

.SingleStoryCard-Content {
  margin: auto 10px;
}
/* 
.SingleStoryCard-usersThatLiked {
}

.SingleStoryCard-Keywords {
} */
.StoryInteractionBar-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.LikeButton-container {
  font-size: 16px;
}
.NewComment-container {
  margin: auto 3%;
  width: fill;
  flex-grow: 100;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}
